<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simon Says Game</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Simon Says Game</h1>
    <h2>Press <i>Start</i> key to start the game</h2>

    <div class="btn-container">
      <div class="line-one">
        <div class="btn red" type="button" id="red">1</div>
        <div class="btn yellow" type="button" id="yellow">2</div>
      </div>
      <div class="line-two">
        <div class="btn green" type="button" id="green">3</div>
        <div class="btn purple" type="button" id="purple">4</div>
      </div>
    </div>

    <button class="f-start">Start</button>

    <div class="made-by">
      <h1>Game instruction</h1>
      <li>Start by observing which light glows first in the sequence.</li>
       <li>Step onto the path and follow the lights path.</li>
       <li>Once you reach the end of the path, remember the sequence in which the lights glowed.</li>
       <li>Return to the starting point and press the lights in the same order they glowed</li>
       <li>If you press the lights in the correct sequence, you advance to the next level or round.</li>
       <li>The game continues with increasingly complex sequences as you progress.</li>
      <h3>&#10084; made by Dileep</h3>
    </div>

    <script src="index.js"></script>
  </body>
</html>